@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

.bookend {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  color: white;
  width: 100%;
  padding: 15px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  flex-grow: 0;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  text-align: center;
}
